.staff{
    width: 100vw;
    height: auto;
    background-color: #333333;
    text-align: center;
    padding-bottom: 2vw;
}

.staffHead{
    color: #FBDABB;
    font-family: 'Markazi', sans-serif;
    font-size: 4.444vw;
    font-weight: 500;
}

.BioSec{
    display: flex;
    justify-content: space-around;
}

.staffer{
    background-color: #EE9972;
    border: 2px #F4CE14 solid;
    color: #333333;
    width: 25vw;
    height: 40vw;
    border-radius: 16px;
    font-family: 'Markazi';
}

.staffer h2{
    font-size: 4.444vw;
    font-weight: 500;
}

.staffer h3{
    font-size: 2.778vw;
    font-weight: 400;
}

.staffer p{
    font-size: 1.250vw;
    font-weight: 500;
    text-align: left;
    padding-top: .5vw;
    padding-left: .5vw;
    padding-right: 1vw;
}

.staffer img{
    border:#F4CE14 2px solid;
    border-radius: 16px;
}