.staff{
    width: 100vw;
    height: auto;
    background-color: #333333;
    text-align: center;
    padding-bottom: 2vw;
}

.staffHead{
    color: #FBDABB;
    font-family: 'Markazi', sans-serif;
    font-size: 4.444vw;
    font-weight: 500;
}

.BioSec{
    display: flex;
    justify-content: space-around;
}

.staffer{
    background-color: #EE9972;
    border: 2px #F4CE14 solid;
    color: #333333;
    width: 30vw;
    height: auto;
    border-radius: 16px;
    font-family: 'Markazi';
}

.staffer h2{
    font-size: 40pt;
    font-weight: 500;
}

.staffer h3{
    font-size: 18pt;
    font-weight: 400;
}

.staffer p{
    font-size: 16pt;
    font-weight: 500;
    text-align: left;
    padding-top: .5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 2vh;
}

.staffer img{
    border:#F4CE14 2px solid;
    height: auto;
    width: 15vw;
    border-radius: 16px;
}

@media screen and (max-width: 900px){
    .BioSec{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .staffer{
        width: 75vw;
        height: auto;
        margin-top: .5vh;
        margin-bottom: .5vh;
    }

    .staffer img{
        border:#F4CE14 2px solid;
        height: auto;
        width: 33vw;
        border-radius: 16px;
    }
}