.story{
    width: 100vw;
    background-color: #EDEFEE;
}

.pBox{
    width: 85vw;
    font-family: 'Markazi';
    font-weight: 400;
    padding-top: 2.778vw;
    padding-left: 10vw;
    font-size: 18pt;
}

.pBox p{
    padding-bottom: 2.778vw;
}