.FormDiv{
    background-color: #495E57;
    padding-top: 2vh;
    padding-bottom: 5vh;
    text-align: center;
}

.FormDiv h1{
    color: #F4CE14;
    font-size: 40pt;
    font-family: 'Markazi';
    padding-bottom: 2vh;
}

.Form{
    margin-left: 10vw;
}