.LoginApp{
    background-color: #495E57;
    width: 100vw;
    height:auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.LoginApp h1{
    font-size: 40pt;
    color: #F4CE14;
    text-align: center;
    font-family: 'Markazi';
    padding-top: 2.5vh;
}

.LoginBox{
    width: 75vw;
    background: #EDEFEE;
    color: #333333;
    font-family: 'Markazi', sans-serif;
    margin-top: 5vh;
    margin-left: 12.5vw;
    text-align: center;
    box-shadow: 0.394vw 0.394vw 8px  #333333;
    border-color: #333333;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}

.LoginButton{
    margin-top: 2vh;
    margin-bottom: 1vh;
    color:#495E57;
    background-color: #F4CE14;
    border-radius: 16px;
    border-color: #333333;
    font-size: 18pt;
    cursor: pointer;
}

.LoginButton:hover{
    color: #EDEFEE;
    background-color: #333333;
    border-color: #EDEFEE;
}

.LoginBox a{
    font-size: 18pt;
    color: #495E57;
}
.LoginBox a:visited{
    color: #333333;
}
.LoginBox a:hover{
    color: #F4CE14;
}

.LoginInput{
    margin-top: 1vh;
}

.LoginInput label{
    font-size: 18pt;
}

input[type=submit] {
    font-size: 40pt;
}