.LoginNew{
    background-color: #495E57;
    width: 100vw;
    min-height: 50vh;
    padding-bottom: 5vh;
}

.LoginNew h1{
    font-size: 64pt;
    color: #F4CE14;
    text-align: center;
    font-family: 'Markazi';
    padding-top: 2.5vh;
}

.LoginNewBox{
    width: 50vw;
    background: #EDEFEE;
    color: #333333;
    font-family: 'Markazi', sans-serif;
    margin-left: 25vw;
    margin-top: 5vh;
    text-align: center;
    box-shadow: 0.394vw 0.394vw 8px  #333333;
    border-color: #333333;
    border-radius: 16px;
}

.LoginNewButton{
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.LoginNewButton button{
    color:#495E57;
    background-color: #F4CE14;
    border-radius: 16px;
    border-color: #333333;
    font-size: 18pt;
    cursor: pointer;
}
.LoginNewButton button:hover{
    color: #EDEFEE;
    background-color: #333333;
    border-color: #EDEFEE;
}

.LoginNewBox a{
    font-size: 18pt;
    color: #495E57;
}
.LoginNewBox a:visited{
    color: #333333;
}
.LoginNewBox a:hover{
    color: #F4CE14;
}

.LoginNewInput{
    margin-top: 1vh;
}

.LoginNewInput label{
    font-size: 18pt;
}

.PassReqs{
    font-size: 18pt;
    padding-top: 1vh;
}