@media screen and (max-width: 900px) {
    .heroMain{
        flex-direction: column-reverse;
    }
    .Content{
        margin-left: 33%;
        margin-right: auto;
        width: 33%;
        height: auto;
    }
    .HeroLeft{
        margin-left: 33%;
        margin-right: auto;
        width: 33%;
        height: auto;
    }
}

*{
    margin: 0;
}

.Content{
    padding-left: 7.431vw;
    padding-top: 1.250vw;
    padding-bottom: 3.572vw;
    padding-right: 8.819vw;
    width: 35.139vw;
    height: fit-content;
}

.heroMain{
    background-color:  #495E57;
    color: #edefee;
    display:flex;
    width: 100vw;
    justify-content: center;
}

.Content h1{
    font-size: 40pt;
    font-weight: 500;
    font-family: "Markazi";
}

.Content h3{
    font-size: 18pt;
    font-weight: 400;
    font-family: "Markazi";
    text-align: end;
    padding-bottom: 1.806vw;
}

.heroMain p{
    font-family: "Karla";
    font-size:16pt;
    font-weight: 500;
    padding-bottom: 1.250vw;
}

.HeroLeft{
    padding-right: 8.542vw;
    padding-top: 0.972vw;
    padding-bottom: 0.972vw;
}

.HeroPic {
    width: 40.069vw;
    height: 26.736vw;
    border: #333333 solid;
    border-width: 5px;
    border-radius: 16px;
    background-image: url('../pics/Hero.jpg') ;
    background-repeat: no-repeat;
    background-size: 40.069vw 26.736vw;
}

.ButtonDiv{
    padding-top: 19.583vw;
    padding-left: 0.903vw;
}

.BookButton {
    background-color: #F4CE14;
    border-radius: 16px;
    border:#495E57 2px solid;
    width: auto;
    height: 6.528vw;
    box-shadow: 0.394vw 0.394vw 8px  #333333;
}

.BookButton a{
    font-weight: 700;
    font-size:40pt;
    text-decoration: none;
    color:#495E57;
    font-family: 'Markazi';
}

.BookButton a:hover{
    color: #333333
}

@media screen and (max-width: 767px) {
}