*{
    margin: 0;
}

.heroMain{
    background-color: #495E57;
    display: flex;
    color: #EDEFEE;
    font-family: 'Karla';
    width: 100vw;
}

.HeroLeft{
    padding: 15px;
    width: 50vw
}
.HeroLeft h1{
    font-size: 40pt;
    color: #F4CE14;
    font-family: 'Markazi' ;
    padding-left: 5vw;
}
.HeroLeft h3{
    color: #F4CE14;
    font-family: 'Markazi' ;
    font-size: 18pt;
    padding-left: 20vw;
}
.HeroLeft p{
    font-size: 18px;
    padding-top: 15px;
}

.HeroRight{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 45vw;
}


.HeroPic {
    width: 40.069vw;
    height: 26.736vw;
    border: #333333 solid;
    border-width: 5px;
    border-radius: 16px;
    background-image: url('../pics/Hero.jpg') ;
    background-repeat: no-repeat;
    background-size:cover;
}

.ButtonDiv{
    padding-top: 19.583vw;
    padding-left: 0.903vw;
}

.BookButton {
    background-color: #F4CE14;
    border-radius: 16px;
    border:#495E57 2px solid;
    width: auto;
    height: auto;
    box-shadow: 0.394vw 0.394vw 8px  #333333;
}

.BookButton a{
    font-weight: 700;
    font-size: 24pt;
    text-decoration: none;
    color:#495E57;
    font-family: 'Markazi';
}

.BookButton a:hover{
    color: #333333
}

@media(max-width: 767px) {
    .heroMain{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .HeroLeft{
        padding: 0px;
        width: 75vw;
        padding-bottom: 3vh;
    }
    .HeroLeft h1{
        padding-left: 0vw;
        text-align: center;
    }
    .HeroLeft h3{
        padding-left: 0vw;
        text-align: center;
    }
    .HeroRight{
        margin: 0;
        padding-top: 1.5vh;
    }
    .HeroPic {
        width: 100%;
        height: 50.044vw;
        border: #333333 solid;
        border-width: 5px;
        border-radius: 16px;
        background-image: url('../pics/Hero.jpg') ;
        background-repeat: no-repeat;
        background-size:cover;
    }
}