

*{
    margin: 0;
}

.Info{
    background-color: #333333;
    color: #F4CE14;
    font-family: 'Markazi';
    -webkit-text-stroke: 1px #495E57;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.InfoBody{
    display: inline-flex;
}

.InfoLeft{
    padding-top: 1.736vw;
    padding-left: 6.528vw;
    padding-bottom: 6.597vw;
    padding-right: 2.778vw;
}

.Info h1{
    font-weight: 500;
    font-size: 40pt;
    padding-left: 1.944vw;
}

.Info h2{
    font-size: 18pt;
    font-weight: 400;
    padding-left: 18.819vw;
    padding-bottom: 1.944vw;
}

.infoText{
    background-color: #EDEFEE;
    color:#333333;
    border: 2px #F4CE14 solid;
    border-radius: 16px;
    font-family: 'Karla';
    font-size: 16pt;
    font-weight: 500;
    width: 35vw;
    max-height: auto;
    -webkit-text-stroke: 0px;
}

.infoText p{
    padding-left: 1.181vw;
    padding-right: 1.181vw;
    padding-top: 1.181vw;
}

.iTextBottom{
    padding-bottom: 1.181vw;
}

.iPic{
   width: 25vw;
    height: auto;
    border: 2px #f4ce14 solid;
    border-radius: 16px;
}

.iPicBox1{
    padding-left: 15vw;
    z-index: 6;
    grid-area: auto/ auto / auto / auto;
    margin-left: 10vw;
}

.iPicBox2{
    z-index: 1;
    margin-left: -10.208vw;
    margin-top: -22vw;
    padding-bottom: 1vh;
}

@media screen and (max-width: 987px) {
    .InfoBody{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
     .InfoLeft{
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 1.5vh;
        padding-right: 0
    }
    .infoText{
        background-color: #EDEFEE;
        color:#333333;
        border: 2px #F4CE14 solid;
        border-radius: 16px;
        font-family: 'Karla';
        font-size: 16pt;
        font-weight: 500;
        width: 80vw;
        max-height: auto;
        -webkit-text-stroke: 0px;
    }

    .iPic{
        width: 25vw;
         height: auto;
         border: 2px #f4ce14 solid;
         border-radius: 16px;
     }

     .iPicBox1{
        padding-left: 15vw;
        z-index: 6;
        grid-area: 1 / 1 / 2 / 2;
        margin-left: -5vw;
    }

    .iPicBox2{
        z-index: 1;
        margin-left: -30.208vw;
        margin-top: -22vw;
        padding-bottom: 1vh;
    }
}