@media screen and (min-width: 500px) {
}

*{
    margin: 0;
}

.Info{
    background-color: #333333;
    color: #F4CE14;
    font-family: 'Markazi';
    -webkit-text-stroke: 1px #495E57;
    display: flex;
}

.InfoLeft{
    padding-top: 1.736vw;
    padding-left: 6.528vw;
    padding-bottom: 6.597vw;
    padding-right: 2.778vw;
}

.Info h1{
    font-weight: 500;
    font-size: 40pt;
    padding-left: 1.944vw;
}

.Info h2{
    font-size: 18pt;
    font-weight: 400;
    padding-left: 18.819vw;
    padding-bottom: 1.944vw;
}

.infoText{
    background-color: #EDEFEE;
    color:#333333;
    border: 2px #F4CE14 solid;
    border-radius: 16px;
    font-family: 'Karla';
    font-size: 16pt;
    font-weight: 500;
    width: 30.694vw;
    max-height: auto;
    -webkit-text-stroke: 0px;
}

.infoText p{
    padding-left: 1.181vw;
    padding-right: 1.181vw;
    padding-top: 1.181vw;
}

.iTextBottom{
    padding-bottom: 1.181vw;
}

.InfoRight{
    position: relative;
}

.iPic{
    width: 27.569vw;
    height: 34.653vw;
    border: 2px #f4ce14 solid;
    border-radius: 16px;
}

.iPicBox1{
    position: absolute;
    top: 2.778vw;
    left: 21.806vw;
    z-index: 10;
}

.iPicBox2{
    position: absolute;
    top:9.7vw;
    left:0vw;
    z-index: 5;
}