@media screen and (min-width: 500px) {
    nav ul{
    display: flex;
    justify-content: space-around;
    }
}

*{
    margin: 0;
}

.Info{
    background-color: #333333;
    color: #F4CE14;
    font-family: 'Markazi';
    -webkit-text-stroke: 1px #495E57;
}

.Info h1{
    font-weight: 500;
    font-size: 4.444vw;
}

.Info h2{
    font-size: 2.778vw;
    font-weight: 400;
}

.infoText{
    background-color: #EDEFEE;
    color:#333333;
    border: 2px #F4CE14 solid;
    border-radius: 16px;
    font-family: 'Karla';
    font-size: 1.250vw;
    font-weight: 500;
    max-width: 30.694vw;
    max-height: 27.778vw;
    -webkit-text-stroke: 0px;
}

.iPic{
    width: 27.569vw;
    height: 34.653vw;
    border: 2px #f4ce14 solid;
    border-radius: 16px;
}