*{
    margin: 0;
}

.footer h1{
    font-family: 'Markazi';
    font-weight: 400;
    font-size: 40pt;
    color: #333333;
}

.footer ul{
    list-style: none;
    padding-top: 1vh;
}

.footer li{
    padding-bottom: 1vh;
}

.footer h2{
    font-weight: 700;
    font-size: 18pt;
}

.footer a{
    font-weight: 500;
    font-size: 16pt;
    text-decoration: none;
    color: #495E57;
}

.footer a:hover{
    color: #333333;
    font-weight: 600;
}

.footer{
    background-color: #FBDABB;
    font-family: 'Karla';
    color: #495E57;
    font-weight: 500;
    font-size: 16pt;
    display: flex;
    justify-content: center;
}

.footLogo{
    width:12.690vw;
    height:22.361vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.siteMap{
    padding-top: 3vh;
    text-align: center;
}

.contact{
    padding-top: 3vh;
    text-align: center;
}

.contact h2{
    padding-bottom: .25vw;
}

.contact p{
    padding-bottom: 1.319vw;
}

.Address{
    padding-top: 0.903vw;
    padding-bottom: 1.3vw;
}

.socials{
    padding-top: 3vh;
    text-align: center;
    padding-left: 5vw;
}

.MapDiv{
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}