*{
    margin: 0;
}

.footer{
    background-color: #FBDABB;
    font-family: 'Karla';
    color: #495E57;
    font-weight: 500;
    font-size: 16pt;
    display: flex;
    width: 100vw;
}

.footer h1{
    font-family: 'Markazi';
    font-weight: 400;
    font-size: 40pt;
    color: #333333;
}

.footer ul{
    list-style: none;
    padding-top: 1vh;
    display: block;
    margin:0px;
    padding: 0px;
}

.footer li{
    padding-bottom: 1vh;
}

.footer h2{
    font-weight: 700;
    font-size: 18pt;
}

.footer a{
    font-weight: 500;
    font-size: 16pt;
    text-decoration: none;
    color: #495E57;
}

.footer a:hover{
    color: #333333;
}



.footLogo{
    width:12.690vw;
    height:auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
}

.siteMap{
    padding-top: 3vh;
    text-align: center;
}

.contact{
    padding-top: 3vh;
    text-align: center;
}

.contact h2{
    padding-bottom: .25vw;
}

.contact p{
    padding-bottom: 1.319vw;
}

.Address{
    padding-top: 0.903vw;
    padding-bottom: 1.3vw;
}

.socials{
    padding-top: 3vh;
    text-align: center;
    padding-left: 5vw;
}

.MapDiv{
    padding-left: 5vw;
    padding-right: 5vw;
}

@media (max-width: 767px){

    .footLogo{
        width:25vw;
        height:auto;
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 37.5vw;
        justify-self: center;
    }

    .footer{
        background-color: #FBDABB;
        font-family: 'Karla';
        color: #495E57;
        font-weight: 500;
        font-size: 16pt;
        display: block;
        width: 100vw;
        justify-content: center;
    }

}