@font-face {
    font-family: Karla;
    src: url(https://fonts.google.com/specimen/Karla);
}

.navBar{
    display: inline-flex;
    background-color: #edefee;
}

.navLogo{
    max-width: 286px;
    height: auto;
    padding-top: 41px;
    padding-bottom: 26px;
    padding-right: 11px;
    padding-left: 27px;
}

ul{
    list-style: none;
}

li{
    display: inline;
    padding:11px;
}

.homeNav{
    background-color: #495E57;
    color: #f4ce14;
    font-size: 40px;
    font-family: Karla;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 26px;
    padding-top: 19px;
    border: none;
}

.aboutNav{
    background-color: #495E57;
    color: #f4ce14;
    font-size: 40px;
    font-family: Karla;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 26px;
    padding-top: 19px;
    border: none;
}

.menuNav{
    background-color: #495E57;
    color: #f4ce14;
    font-size: 40px;
    font-family: Karla;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 26px;
    padding-top: 19px;
    border: none;
}

.resNav{
    background-color: #495E57;
    color: #f4ce14;
    font-size: 40px;
    font-family: Karla;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 26px;
    padding-top: 19px;
    border: none;
}

.orderNav{
    background-color: #495E57;
    color: #f4ce14;
    font-size: 40px;
    font-family: Karla;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 26px;
    padding-top: 19px;
    border: none;
}

.loginNav{
    background-color: #495E57;
    color: #f4ce14;
    font-size: 40px;
    font-family: Karla;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 26px;
    padding-top: 19px;
    border: none;
}