*{
    margin: 0;
}


.navBar{
    background: #edefee;
    width: 100vw;
    height: auto;
}

.navBar ul{
    list-style-type:none;
    padding-top: 1.736vw;
}

.NavButton{
    background-color: #495e57;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 0.556vw;
    padding-right: 0.556vw;
    padding-top: 1.319vw;
    padding-bottom: 1.319vw;
}

.navLinks a{
    display: block;
    color: #F4CE14;
    font-family: Karla;
    font-size: 2.778vw;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Karla';
}

.navLinks a:hover{
    color:#FBDABB;
    text-decoration: none;
}

.NavLogo{
    background-color: #edefee;
   width: 19.861vw;
    height: auto;
    padding-right: 0.347vw;
    padding-left: 0.347vw;
}

@media screen and (min-width: 500px) {
    .navBar ul{
    display: flex;
    justify-content: space-around;
    }
    }