*{
    margin: 0;
}


nav{
    background: #edefee;
}

nav ul{
    list-style-type:none;
    padding-top: 53px;
}

.NavButton{
    background-color: #495e57;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 19px;
    padding-bottom: 26px;
}

nav a{
    display: block;
    color: #F4CE14;
    font-family: Karla;
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover{
    color:#FBDABB;
    text-decoration: none;
}

.NavLogo{
    background-color: #edefee;
    width: 286px;
    height: 78px;
    padding-right: 5px;
    padding-left: 5px;
}

@media screen {
    nav ul{
    display: flex;
    justify-content: space-around;
    }
    }